{%extends "layout.html"%}
{%block body%}

	</ul>
	<h1 class= "white"><b>welcome to my personl blog </b></h1>
	<div class = centre>
		<img class= "centre" src= "https://pbs.twimg.com/profile_images/850760805574471680/kcyxNgph.jpg" height= "200px" width = "200px" />
	</div>

	<div class="inline" width= "800px">
	<h2 class= "white"> information about me </h2>

	<p class= "white"> the full name : Khaled Ahmed Zaqout<br>
		the date of birth : 20/7/2001<br>
		the school : Arafat school for gifted <br>
		my city is Gaza, the country is Palestine <br>
	</p>
	</div>

	<div class = "right inline" width="800px" >
		<h3 class= "white">taking about my schalorships</h3>


		<img src= "../static/images/access.jpg" height= "200px" width = "200px" />
		<p class= "white">1-Access : <br>
			which is a schalorship from amedeast and ....</p><br><br>

			<img src= "../static/images/wecode.jpg" height= "200px" width = "200px" />
			<p class= "white">2-WECode : <br>
				whish is an amazing opportunity from PALTEL ....</p><br><br>
				<img src= "http://bit.ly/2r8tNLH" height= "200px" width = "200px" />
				<p class= "white">3-YES (youth exchange and study) : <br>
					it is a great chance to travel to the USA for full year ...</p>
				</div>
		<div>
			<img src= "../static/images/wecode1.jpg" height= "800px" width = "800px" />	

		</div>

{%endblock%}


		